<h1>
The first rule of kernel development is:
</h1>
<h1>
We do not cause regressions in userspace
</h1>

<h2>
  Sources
</h2>
<ul>
  <li><a href="https://lkml.org/lkml/2012/12/23/75">Pulseaudio 2012-12-23</a></li>
  <li><a href="http://lkml.iu.edu/hypermail/linux/kernel/1710.3/02474.html">Apparmor rant 2017-10-26</a></li>
  <li><a href="http://lkml.iu.edu/hypermail/linux/kernel/1710.3/02487.html">Apparmor details 2017-10-26</a></li>
</ul>

<p>
  <a href="https://gitlab.com/sytses/www.firstruleofkerneldevelopment.com">Contribute to this website</a>
</p>

